# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Database files
*.db
*.sqlite3

# Reports
reports/*.txt

# Vector database
vectorstore/
chroma_db/
data/chroma_db/


# Temporary files
*.tmp
*.tmp.*
*.bak
*.swp
recovered_file.txt

# OS files
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# Coverage and testing
.coverage
.pytest_cache/
htmlcov/

# Cache directories
.cache/

# PyInstaller
*.spec


# Ignore compiled Python files
*.pyc
*.pyo

# Ignore local configuration
local_settings.py